<footer>
    <div class="container">
        <p class="text-center">
            <a href="https://weibo.com/baidunews?sudaref=news.baidu.com&display=0&retcode=6102">关于我们</a>
            <a href="http://news.baidu.com/app//?src=pctop">热点资讯端</a>
        </p>
        <p class="text-center">© 2015-2018 新闻八卦</p>
    </div>

</footer>

<div id="quick-download">
    <button type="button" class="close-link btn-link" data-toggle="modal" data-target="#quick-download-app-modal"><i
            class="fa icon-times-circle"></i></button>

    <a class="download-link" href="http://news.baidu.com/app//?src=pctop">
        <h3>热点资讯网</h3>
        <h4>国内最新最热的新闻尽在这里</h4>
        <button type="button" class="btn btn-info btn-sm">下载 APP</button>
    </a>

    <div class="modal fade" id="quick-download-app-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">提示</div>
                <div class="modal-body">
                    <div class="checkbox">
                        <label class="i-checks">
                            <input id="already-installed" type="checkbox"><i></i> 我已安装了热点资讯App，不再显示
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-default" id="close-quick-download-app-modal">关 闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body></html>